body {
    font-family: Arial, sans-serif;
    padding: 40px; /* Increase padding for more spacing */
    position: fixed;
    top: 2%;
    left: 5%;
}

h1 {
    font-size: 24px; /* Increase heading font size */
    margin-bottom: 20px; /* Increase bottom margin for heading */
    color: #534454;
}

.form-group {
    margin-bottom: 30px; /* Increase margin between form groups */
}

label {
    
    font-size: 18px; 
    margin-right:120px;
}

#user {
    width: 100%; /* Full-width container */
    max-width: 600px; /* Increase maximum width for user container */
    margin: 0 auto;
    padding: 15px 0px;
    border-radius: 12px; /* Increase border radius for user container */
    background-color: #f8f9fa;
    border: 0px solid #ccc; 
}

textarea {
    width: 100%;
    height: 200px; /* Increase textarea height */
    padding: 15px; /* Increase padding inside textarea */
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #f8f9fa;
    border: 0px solid #ccc; 
    font-size: 16px; /* Increase textarea font size */
}

button {
    align-items: center;
    font-size: 14px; /* Increase button font size */
    padding: 15px 40px; /* Increase button padding */
    border-radius: 40px; /* Increase button border radius */
    cursor: pointer;
    border: none;
    outline: none;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adjust box shadow */
}

.btn-save {
    background: linear-gradient(to right, #3c324b, #7b6f7f);
    color: #fff;
    margin-left: 30%; /* Adjust button position */
}

.btn-cancel {
    background-color: #fff;
    color: #0e0d0d;
    border: 0px solid #0e0d0d; /* Add border to cancel button */
    margin-left: 20px; /* Adjust button position */
}