
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: inline-flex; /* Use flexbox for layout */
    align-items: flex-start; 
    padding: 5px;
    padding-top: 10px;
    margin-left:100px;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    
}

.card {
    flex:  1 calc(20% - 0px); /* Custom size for each card */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 220px; 
    height: 190px; 
    margin-right: 10px;
    background: linear-gradient(to top right, #fcfcfc, #cbc7de);
    
}

.icon {
    font-size: 40px;
    margin-bottom: 10px; /* Space below icon */
    margin-top: 15px;
}
.icon::before {
    background: linear-gradient(to right, #cb62c2, #383243); /* Gradient color */
    -webkit-background-clip: text; /* Clip the gradient to the text */
    color: transparent; /* Make the icon color transparent */
}

.card-text {
    font-size: 20px;
    font-weight: bold;
}

.card-counter {
    font-size: 40px;
    font-weight: bold; 
    color: #e85fbd; /* Change counter text color */
    margin-top: 20px; /* Space above counter */
}

.right-section {
    display: flex;
    flex-direction: column; /* Arrange right cards vertically */
    gap: 20px; /* Spacing between right cards */
    margin-left: 20px;
    flex: 1; /* Allow right section to take remaining space */
}

.right-card { 
    display: flex;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* background-color: #6d677a; */
    background: linear-gradient(to right, #6d677a, #857c96); 
    /* background: linear-gradient(to bottom, #1f1f2d, #e5caec); */
    width: 300px; 
    height: 177px; 
    margin-right: 20px;
    position: relative;
}

.right-card-content {
    display: flex;
    flex-direction: column;
}

.right-card-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
    color:white;
}
.communication-img {
    position: absolute; 
    width: 85%; 
    height: 23vh;
    bottom: 0px; 
    right: 0px; 
    
}

/* .right-card-content .right-card-text a {
    text-decoration: none;
    margin-top: 0%;
    margin-left: 0px;
    display: block; 
    color: #007bff; 
   
} */

/* .progress-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
} */

/* Circular progress animation */
/* .progress-circle::after {
    content: attr(data-percent) '20%';
    position: absolute;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    clip: rect(0, 50px, 50px, 25px);
    animation: fillAnimation 1s forwards;
} */

@keyframes fillAnimation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.chart {
    background: #d1cfe2; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
}

.chart-container {
    /* width: 64%; */
    /* height: 20%; */
    background: #fff; /* White background for the canvas */
    border-radius: 10px;
    overflow: hidden; /* Ensures no overflow from the canvas */
}

.stream-container h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    /* text-align: center; */
}
.stream-container h3 {
    font-size: 13px;
   
}

.video-player {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    background-color: #eee; /* Placeholder color for video player */
    border-radius: 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 64%; /* Occupy full available width */
    max-width: 1200px; 
    /* padding: 20px; */
    box-sizing: border-box;
}

.stream-section {
    width: 94%; /* Occupy full available width */
    max-width: 100%; /* Ensure it doesn't exceed the parent's width */
    height: auto; /* Allow height to adjust based on content */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 10px;
    background: linear-gradient(to top right, #fcfcfc, #afa9cc);
}
